<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Dev Skills</title>
</head>
<body>
    <h1>Edit Skill</h1>
    <form action="/skills/<%= skillId %>?_method=PUT" method="POST" autocomplete="off">
        <fieldset>
            <legend>Skill Information</legend>
            <label for="skill">Name</label>
            <input type="text" name="skill" value="<%= skill.skill %>">
            <label for="description">Description</label>
            <textarea name="description"><%= skill.description %></textarea>
            <button type="submit">Update Skill</button>
        </fieldset>
    </form>
</body>
</html>
