body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

label {
  display: block;
  margin: 0.2rem 0;
}

input {
  margin-bottom: 0.6rem;
}

textarea {
  display: block;
  margin-bottom: 0.6rem;
  width: 20rem;
  height: 8rem;
}
